<navbar></navbar>

<div class="container-fluid">

  <div class="row col-md-12" id="security">
    <img src="<%= asset_path('security_ps_dark.png') %>"  alt=""/>
    <!-- <p>Security is our top priority</p> -->
  </div>

  <div class="row col-md-12" id="security_insurance">
    
    <div class="col-md-5">
      <img src="<%= asset_path('security_insurance.png') %>"  alt=""/>
    </div>

    <div class="col-md-7">
      <strong><h1>Total coverage of HK$ 2 million for you and your car</h1></strong>
      <h2>It starts when we take possesion of your car and doesn't end until we return it to you</h2>

      <section class="col-md-12">
        <ul class="list-unstyled">
          <li class="col-md-12">
            <div class="col-md-3 security_checkbox">
              <img class="img-responsive" src="<%= asset_path('checkbox.png') %>"/> 
            </div>
            <div class="col-md-8 checkbox_text">
              <p>Coverage during transit to and from carparks</p>
            </div>
          </li>

          <li class="col-md-12">
            <div class="col-md-3 security_checkbox">
              <img class="img-responsive" src="<%= asset_path('checkbox.png') %>"/> 
            </div>
            <div class="col-md-8 checkbox_text">
              <p>Coverage while at carparks</p>
            </div>
          </li>

          <li class="col-md-12">
            <div class="col-md-3 security_checkbox">
              <img class="img-responsive" src="<%= asset_path('checkbox.png') %>"/> 
            </div>
            <div class="col-md-8 checkbox_text">
              <p>Coverage for actions of our agents</p>
            </div>
          </li>

        </ul>
      </section>
      
    </div>

  </div>

  <div class="row col-md-12" id="security_authentication">
    <div class="col-md-5">
      <img src="<%= asset_path('security_authentication.png') %>"  alt=""/>
    </div>

    <div class="col-md-7">
      <strong><h1>Authenticated hand-off process</h1></strong>
      
      <ul>
        <li><h2>Once an agent is assigned, the agent's name, phone and picture will appear on your phone.</h2></li>

        <li><h2>In addition, a 4-digit pin will be used by our agents to authenticate that you are dealing with the right counterpart.</h2></li>
      </ul>
      
    </div>

  </div>

  <div class="row col-md-12" id="security_storage">
    <div class="col-md-5">
      <img src="<%= asset_path('security_storage.png') %>"  alt=""/>
    </div>

    <div class="col-md-7">
      <strong><h1>Secure and legitimate storage</h1></strong>
      
      <ul>
        <li><h2>All cars handled by Vala will be stored in established carpark facilities</h2></li>
        <li><h2>24 hour surveillence with on-duty security personnel and devices in operation</h2></li>
      </ul>

    </div>

  </div>

  <div class="row col-md-12" id="security_checks">
    <div class="col-md-5">
      <img src="<%= asset_path('security_checks.png') %>"  alt=""/>
    </div>

    <div class="col-md-7">
      <strong><h1>Stringent background check and training</h1></strong>
      
      <ul>
        <li><h2>Rigourous background checks with clean driving records</h2></li>
        <li><h2>All agents have at least 3 years of driving experience</h2></li>
        <li><h2>All agents are trained and successfully passed custom tests designed by Hong Kong School of Motoring</h2></li>
        <li><h2>Thorough interview process to ensure agents are reliable</h2></li>

      </ul>

      </h2>
    </div>

  </div>


  
</div>


<footer></footer>
